nav{
    display:block

}

.nav-wrapper {
    position: relative;
    max-width: 250px;
    }

.col-s12-m7 {
    border:10px solid #003366;
    width: 300px;
    margin: 0 auto

}

.card-horizontal {
    border:10px solid #003366;
    width: 300px;
    margin: 0 auto
    
}

.card-image {
    border:10px solid #003366;
    width: 300px;
    margin: 0 auto
}